<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatiscodehelper.mapper.UserMybatishelperMapper">
  <resultMap id="BaseResultMap" type="com.example.mybatiscodehelper.domain.UserMybatishelper">
    <!--@mbg.generated-->
    <!--@Table user_mybatishelper-->
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="birth" jdbcType="TIMESTAMP" property="birth" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    userid, username, birth, salary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from user_mybatishelper
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from user_mybatishelper
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="userid" keyProperty="userid" parameterType="com.example.mybatiscodehelper.domain.UserMybatishelper" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_mybatishelper (username, birth, salary
      )
    values (#{username,jdbcType=VARCHAR}, #{birth,jdbcType=TIMESTAMP}, #{salary,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" keyColumn="userid" keyProperty="userid" parameterType="com.example.mybatiscodehelper.domain.UserMybatishelper" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_mybatishelper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="salary != null">
        salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.mybatiscodehelper.domain.UserMybatishelper">
    <!--@mbg.generated-->
    update user_mybatishelper
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=TIMESTAMP},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=DECIMAL},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.mybatiscodehelper.domain.UserMybatishelper">
    <!--@mbg.generated-->
    update user_mybatishelper
    set username = #{username,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=TIMESTAMP},
      salary = #{salary,jdbcType=DECIMAL}
    where userid = #{userid,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-17-->
  <select id="findByUsernameAndUserid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_mybatishelper
    where username=#{username,jdbcType=VARCHAR} and userid=#{userid,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-17-->
  <select id="findByUsernameAndUsernameBetween" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_mybatishelper
    <where>
      <if test="username != null">
        and username=#{username,jdbcType=VARCHAR}
      </if>
      <if test="minUsername != null">
        and username <![CDATA[>]]> #{minUsername,jdbcType=VARCHAR}
      </if>
      <if test="maxUsername != null">
        and username <![CDATA[<]]> #{maxUsername,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-17-->
  <select id="findFirstByUseridAndUsernameBetweenOrderBySalaryDescAndUseridDesc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_mybatishelper
    where userid=#{userid,jdbcType=INTEGER} and username <![CDATA[>]]> #{minUsername,jdbcType=VARCHAR} and username
    <![CDATA[<]]> #{maxUsername,jdbcType=VARCHAR} order by salary desc, userid desc limit 1
  </select>

<!--auto generated by MybatisCodeHelper on 2020-04-17-->
  <update id="updateBirthByUseridAndUsername">
    update user_mybatishelper
    set birth=#{updatedBirth,jdbcType=TIMESTAMP}
    where userid=#{userid,jdbcType=INTEGER} and username=#{username,jdbcType=VARCHAR}
  </update>



<!--auto generated by MybatisCodeHelper on 2020-04-17-->
  <delete id="deleteByUsernameAndUserid">
    delete from user_mybatishelper
    where username=#{username,jdbcType=VARCHAR} and userid=#{userid,jdbcType=INTEGER}
  </delete>

  <!--auto generated by MybatisCodeHelper on 2020-04-17-->
</mapper>