<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

<form action="#" th:action="@{/addproduct}" th:object="${product}" method="post">
    <input type="text" th:field="*{id}" />
    <input type="text" th:field="*{productName}" />
    <input type="text" th:field="*{stock}" />
    <input type="text" th:field="*{price}" />
    <input type="text" th:field="*{version}" />
    <input type="text" th:field="*{note}" />
    <input type="submit">

</form>

</body>
</html>